.app{
    background-color: black;
    color: white;
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.main{
    /* background-color: white; */
    display: flex;
    justify-content: space-around;
    margin-top: 13%;
}
.cardmedia{
    height: 140px;
    display: grid;
    place-items: center;
}

